.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
  }
  
  .modal-main {
    margin-top: 50vh;
    background: white;
    width: 50vw;
    margin-left: 25vw;
  }
  
  .display-block {
    display: block !important;
  }
  
  .display-none {
    display: none;
  } 